.general-employess {
  border-radius: 56px;
  background: #f8f8f8;
  height: 100%;
  padding-top: 27px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 27px;
  overflow-y: auto;

  &__title {
    color: #323f47;
    font-size: 28px;
    font-family: Proxima Nova;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: -0.56px;
  }

  &__toolbar {
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 32px;
    background: white;
    padding-top: 38px;
    padding-bottom: 41px;
    padding-left: 34px;
    padding-right: 34px;

    &__count {
      display: flex;
      column-gap: 14px;
      color: #54d3c2;
      font-size: 28px;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: -0.56px;
    }

    &__count-helper-text {
      color: #6d7986;
      font-size: 12px;
      font-weight: 600;
      line-height: 44px;
      letter-spacing: -0.56px;
    }
  }
}
