@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"), local("Proxima Nova"),
    url("../src/assets/fonts/proximanova_regular.ttf");
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Proxima Nova;
  font-size: 16px;
}

#root {
  width: 100%;
  height: 100%;
}
