.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__wrapper {
    display: flex;
    column-gap: 23px;
    padding-right: 143px;
  }

  &__name {
    color: #323f47;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.44px;
  }

  &__post {
    color: #989fa3;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.15px;
  }
}
